.Header_ucsc {
  box-sizing: border-box;
  width: 100%;
  display: inline-flex;
  justify-content: flex-start;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgb(24, 16, 102);
  color: #fff;
}
.container-fluid {
  margin-top: 1em;
}

.ucsc_logo {
  border: none;
  width: 400px;
  height: 400px;
}
.login_btn {
  margin-top: 10em;
  padding: 1em 3em;
}
.edit-btn {
  background-color: #09a9e8;
  border-radius: 5px;
  border-style: none;
  color: #fff;
  width: 80px;
  height: 40px;
  border: none;
  outline: none;
}
.company_name_align {
  margin: 1em;
  display: inline;
  text-align: left;
}
.btn-align {
  margin-right: 10px;
  margin-top: 0px;
  padding-right: 1px;
  float: right;
}
.advert-btn {
  background-color: rgb(17, 9, 92);
  border-radius: 5px;
  border-style: none;
  color: #fff;
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
}
.notification-btn {
  background-color: #09a9e8;
  border: none;
  border-radius: 5px;
  border-style: none;
  color: #fff;
  width: 200px;
  height: 40px;
  outline: none;
}
.new_ad-btn {
  background-color: #09a9e8;
  border-radius: 5px;
  border-style: none;
  color: #fff;
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
}
.link_align {
  margin: 1em;
  float: left;
}
.img_size {
  max-width: 100px;
  max-height: 100px;
  float: left;
}
.company_logo {
  display: inline;
  max-width: 200px;
  max-height: 200px;
  vertical-align: bottom;
}
.verifyMail_header {
  text-align: start;
  text-decoration: double;
  font-family: Lato;
  font-size: 35px;
  margin-top: 2em;
}
.img_size_verifymail {
  max-width: 200px;
  max-height: 200px;
  margin-left: 300px;
}
.jumbotron.text-center {
  height: fit-content;
  max-width: 80em;
}
.verify-btn {
  background-color: rgb(17, 9, 92);
  border-radius: 5px;
  border-style: none;
  color: #fff;
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  margin-left: 26em;
}
.center_input_box {
  margin-left: 12em;
}
.center_input_label {
  font-size: 20px;
  margin-left: 19em;
}
