.Header {
  box-sizing: border-box;
  width: 100%;
  display: inline-flex;
  justify-content: flex-start;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgb(24, 16, 102);
  color: #fff;
}

.ucsc_logo {
  border: none;
  width: 400px;
  height: 400px;
}
.login_btn {
  padding: 1em 3em;
}
